orig_workflows/Dead Estimate Revival - Inbound SMS Handler.json
{
  "name": "Dead Estimate Revival - Inbound SMS Handler",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "from_phone",
              "name": "from_phone",
              "value": "={{ $json.data.from }}",
              "type": "string"
            },
            {
              "id": "message_body",
              "name": "message_body",
              "value": "={{ $json.data.body }}",
              "type": "string"
            },
            {
              "id": "is_stop",
              "name": "is_stop",
              "value": "={{ $json.data.body.toLowerCase().includes('stop') }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "559c9ac6-d890-4c7a-818d-86da69905bfe",
      "name": "Parse Incoming SMS",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -848,
        96
      ],
      "notes": "Extracts phone number, message body, and checks for STOP keyword"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gYqE_iBiNdYKv2fkXqk2R_sYP9IPPFVxkgeGUVHbXZ0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 627713887,
          "mode": "list",
          "cachedResultName": "Quote_Followups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gYqE_iBiNdYKv2fkXqk2R_sYP9IPPFVxkgeGUVHbXZ0/edit#gid=627713887"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "customer_phone",
              "lookupValue": "={{ $json.from_phone }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f4813602-8cd9-4253-8b61-9679074e6e06",
      "name": "Find Customer by Phone",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -624,
        96
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eSVWb3iQZSdmZ98G",
          "name": "Google Sheets account JKWebPro"
        }
      },
      "notes": "Looks up customer record by phone number"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-record",
              "leftValue": "={{ $json.quote_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f414ed24-d289-4bbf-8b36-fa6fdcb3be26",
      "name": "Customer Found?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -400,
        96
      ],
      "notes": "Continues only if customer record was found"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse Incoming SMS').item.json.is_stop }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "4f6cafe2-fc8f-4179-90b5-07ee66f10a13"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "opt_out"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Parse Incoming SMS').item.json.is_stop }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "4fca3087-2f36-47d8-b92c-0f47994501d6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reply"
            }
          ]
        },
        "options": {}
      },
      "id": "eb03643f-b273-4d61-8544-43f279ed57d7",
      "name": "Opt-Out or Reply?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -176,
        96
      ],
      "notes": "Routes to opt-out handler or reply handler"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gYqE_iBiNdYKv2fkXqk2R_sYP9IPPFVxkgeGUVHbXZ0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 627713887,
          "mode": "list",
          "cachedResultName": "Quote_Followups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gYqE_iBiNdYKv2fkXqk2R_sYP9IPPFVxkgeGUVHbXZ0/edit#gid=627713887"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "opted_out": "true",
            "customer_phone": "={{ $json.customer_phone }}"
          },
          "matchingColumns": [
            "customer_phone"
          ],
          "schema": [
            {
              "id": "quote_id",
              "displayName": "quote_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_phone",
              "displayName": "customer_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quote_amount",
              "displayName": "quote_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quote_date",
              "displayName": "quote_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "preferred_channel",
              "displayName": "preferred_channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_count",
              "displayName": "follow_up_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_follow_up",
              "displayName": "last_follow_up",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_follow_up",
              "displayName": "next_follow_up",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opted_out",
              "displayName": "opted_out",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8618728a-39df-4efe-8493-bf0c5ca20444",
      "name": "Mark Opted Out",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        48,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eSVWb3iQZSdmZ98G",
          "name": "Google Sheets account JKWebPro"
        }
      },
      "notes": "Sets opted_out=TRUE and status=opted_out"
    },
    {
      "parameters": {
        "from": "+13143159975",
        "to": "={{ $('Parse Incoming SMS').item.json.from_phone }}",
        "message": "You've been unsubscribed and will no longer receive messages from us. Reply START if you change your mind.",
        "options": {}
      },
      "id": "f2bd81dc-dd94-4fc9-9b15-252df378d122",
      "name": "Send Opt-Out Confirmation",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        272,
        0
      ],
      "credentials": {
        "twilioApi": {
          "id": "iGKRpjDb148PymDq",
          "name": "Twilio account"
        }
      },
      "notes": "Confirms opt-out to customer"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gYqE_iBiNdYKv2fkXqk2R_sYP9IPPFVxkgeGUVHbXZ0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 627713887,
          "mode": "list",
          "cachedResultName": "Quote_Followups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gYqE_iBiNdYKv2fkXqk2R_sYP9IPPFVxkgeGUVHbXZ0/edit#gid=627713887"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "replied",
            "notes": "={{ $json.notes ? $json.notes + '\\n' : '' }}[{{ $now.toISO() }}] SMS Reply: {{ $('Parse Incoming SMS').item.json.message_body }}",
            "row_number": 0,
            "quote_id": "={{ $('Find Customer by Phone').item.json.quote_id }}"
          },
          "matchingColumns": [
            "quote_id"
          ],
          "schema": [
            {
              "id": "quote_id",
              "displayName": "quote_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_email",
              "displayName": "customer_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_phone",
              "displayName": "customer_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quote_amount",
              "displayName": "quote_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quote_date",
              "displayName": "quote_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "preferred_channel",
              "displayName": "preferred_channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "follow_up_count",
              "displayName": "follow_up_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_follow_up",
              "displayName": "last_follow_up",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "next_follow_up",
              "displayName": "next_follow_up",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opted_out",
              "displayName": "opted_out",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "adc9ebf3-5297-47be-8931-f9d1a2a694b2",
      "name": "Mark as Replied",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        48,
        192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eSVWb3iQZSdmZ98G",
          "name": "Google Sheets account JKWebPro"
        }
      },
      "notes": "Sets status=replied and appends reply to notes"
    },
    {
      "parameters": {
        "sendTo": "joe@jkwebpro.com",
        "subject": "=Customer Reply: {{ $('Customer Found?').item.json.customer_name }}",
        "message": "=You received a reply from {{ $('Customer Found?').item.json.customer_name }} ({{ $('Parse Incoming SMS').item.json.from_phone }}):<br><br>\"{{ $('Parse Incoming SMS').item.json.message_body }}\"<br><br>Quote ID: {{ $('Find Customer by Phone').item.json.quote_id }}<br>Quote Amount: {{ $('Find Customer by Phone').item.json.quote_amount }}<br><br>This customer has been marked as 'replied' in your tracking sheet.",
        "options": {}
      },
      "id": "93078309-60c8-4e66-a610-c4f75cdaa358",
      "name": "Notify Owner",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        272,
        192
      ],
      "webhookId": "564ddea7-cfd0-4a76-81b0-06b02842b2e9",
      "credentials": {
        "gmailOAuth2": {
          "id": "diO2W3nFj4RnQpU9",
          "name": "Gmail account"
        }
      },
      "notes": "Emails owner about the customer reply"
    },
    {
      "parameters": {
        "updates": [
          "com.twilio.messaging.inbound-message.received"
        ]
      },
      "type": "n8n-nodes-base.twilioTrigger",
      "typeVersion": 1,
      "position": [
        -1072,
        96
      ],
      "id": "98020481-718b-40c7-a528-0e6a1f2a8d3b",
      "name": "Twilio Trigger",
      "webhookId": "98592d62-511d-4447-9598-e3ab3f17931f",
      "credentials": {
        "twilioApi": {
          "id": "1k3iwzhM63yBs3MH",
          "name": "Twilio account JK WebPro"
        }
      }
    },
    {
      "parameters": {
        "from": "+13143159975",
        "to": "+16363994831",
        "message": "={{ $('Parse Incoming SMS').item.json.is_stop ? '🛑 ' + 'OPT-OUT: ' + $('Find Customer by Phone').item.json.customer_name + ' (' + $('Parse Incoming SMS').item.json.from_phone + ') has opted out.' : '💬 ' +  'REPLY: ' + $('Find Customer by Phone').item.json.customer_name + ' (' + $('Parse Incoming SMS').item.json.from_phone + '): \"' + $('Parse Incoming SMS').item.json.message_body + '\" | Quote: ' + $('Find Customer by Phone').item.json.quote_id + ' (' + $('Find Customer by Phone').item.json.quote_amount + ')' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        496,
        96
      ],
      "id": "c710c364-6a64-4485-a7d1-782e878f7649",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "1k3iwzhM63yBs3MH",
          "name": "Twilio account JK WebPro"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Parse Incoming SMS": {
      "main": [
        [
          {
            "node": "Find Customer by Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Customer by Phone": {
      "main": [
        [
          {
            "node": "Customer Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Found?": {
      "main": [
        [
          {
            "node": "Opt-Out or Reply?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opt-Out or Reply?": {
      "main": [
        [
          {
            "node": "Mark Opted Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark as Replied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Opted Out": {
      "main": [
        [
          {
            "node": "Send Opt-Out Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Opt-Out Confirmation": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as Replied": {
      "main": [
        [
          {
            "node": "Notify Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Owner": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio Trigger": {
      "main": [
        [
          {
            "node": "Parse Incoming SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00cf360b-0579-48d3-8116-c6d24b8d67aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7d06ee333cd72d30aefc89f2565a726e1ce3d1f9e9660ca12dddbdf7f81338da"
  },
  "id": "NNacmFXznNYSOIoN",
  "tags": []
}