orig_workflows/main-followup-workflow-v2.json
{
  "name": "Dead Estimate Revival - Main Follow-up",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300],
      "notes": "Runs every 1 minute for demo. Adjust interval for production (e.g., every 15 minutes or hourly)."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Config",
          "mode": "list",
          "cachedResultName": "Config"
        },
        "options": {}
      },
      "id": "get-config",
      "name": "Get Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [220, 300],
      "notes": "Reads configuration variables from Config sheet. Returns key-value pairs."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "config-obj",
              "name": "config",
              "value": "={{ Object.fromEntries($input.all().map(item => [item.json.key, item.json.value])) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "parse-config",
      "name": "Parse Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 300],
      "notes": "Converts config rows into a single object for easy access: config.mode, config.max_attempts, etc."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Quote_Followups",
          "mode": "list",
          "cachedResultName": "Quote_Followups"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "active"
            },
            {
              "lookupColumn": "opted_out",
              "lookupValue": "FALSE"
            }
          ]
        },
        "options": {}
      },
      "id": "get-active-quotes",
      "name": "Get Active Quotes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [660, 300],
      "notes": "Fetches all quotes where status=active AND opted_out=FALSE"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-due",
              "leftValue": "={{ $json.next_follow_up }}",
              "rightValue": "={{ $now.toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "id": "check-attempts",
              "leftValue": "={{ Number($json.follow_up_count) }}",
              "rightValue": "={{ Number($('Parse Config').item.json.config.max_attempts) }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-due-quotes",
      "name": "Filter Due Quotes",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [880, 300],
      "notes": "Only process quotes where next_follow_up <= NOW AND follow_up_count < max_attempts"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "is-email",
                    "leftValue": "={{ $json.preferred_channel }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "is-sms",
                    "leftValue": "={{ $json.preferred_channel }}",
                    "rightValue": "sms",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sms"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "is-both",
                    "leftValue": "={{ $json.preferred_channel }}",
                    "rightValue": "both",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "both"
            }
          ]
        },
        "options": {}
      },
      "id": "route-by-channel",
      "name": "Route by Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1100, 300],
      "notes": "Routes to email-only, sms-only, or both branches based on preferred_channel"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "attempt-0",
                    "leftValue": "={{ Number($json.follow_up_count) }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "attempt_1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "attempt-1",
                    "leftValue": "={{ Number($json.follow_up_count) }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "attempt_2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "attempt-2",
                    "leftValue": "={{ Number($json.follow_up_count) }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "attempt_3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "attempt-3",
                    "leftValue": "={{ Number($json.follow_up_count) }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "attempt_4"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "email-template-selector",
      "name": "Email Template Selector",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1320, 100],
      "notes": "Routes to appropriate email template based on follow_up_count (0-3)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "subject",
              "name": "email_subject",
              "value": "Quick follow-up on your estimate",
              "type": "string"
            },
            {
              "id": "body",
              "name": "email_body",
              "value": "=Hi {{ $json.customer_name }},\n\nI wanted to check in on the estimate I sent over on {{ $json.quote_date }} for {{ $json.quote_amount }}.\n\nDo you have any questions, or is there anything I can clarify?\n\nHappy to jump on a quick call if that's easier.\n\nBest,\n{{ $('Parse Config').item.json.config.sender_name }}\n{{ $('Parse Config').item.json.config.sender_phone }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "email-template-1",
      "name": "Email Template 1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, -60],
      "notes": "Attempt 1: Friendly check-in"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "subject",
              "name": "email_subject",
              "value": "Still thinking it over?",
              "type": "string"
            },
            {
              "id": "body",
              "name": "email_body",
              "value": "=Hi {{ $json.customer_name }},\n\nJust circling back on your estimate ({{ $json.quote_amount }}).\n\nA few clients in similar situations found it helpful to lock in pricing before our next adjustment.\n\nLet me know if you'd like to move forward or if anything's holding you back.\n\nBest,\n{{ $('Parse Config').item.json.config.sender_name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "email-template-2",
      "name": "Email Template 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, 60],
      "notes": "Attempt 2: Value reminder"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "subject",
              "name": "email_subject",
              "value": "Before this slips away",
              "type": "string"
            },
            {
              "id": "body",
              "name": "email_body",
              "value": "=Hi {{ $json.customer_name }},\n\nI know things get busy - just wanted to make sure your estimate doesn't fall through the cracks.\n\nIf timing or budget is a concern, I'm happy to discuss options.\n\nWorth a quick conversation?\n\nBest,\n{{ $('Parse Config').item.json.config.sender_name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "email-template-3",
      "name": "Email Template 3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, 180],
      "notes": "Attempt 3: Urgency"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "subject",
              "name": "email_subject",
              "value": "Closing the loop",
              "type": "string"
            },
            {
              "id": "body",
              "name": "email_body",
              "value": "=Hi {{ $json.customer_name }},\n\nI haven't heard back, so I'll assume the timing isn't right.\n\nNo hard feelings - I'll close this out on my end. If anything changes, just reply to this email and we can pick back up.\n\nThanks for considering us.\n\nBest,\n{{ $('Parse Config').item.json.config.sender_name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "email-template-4",
      "name": "Email Template 4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, 300],
      "notes": "Attempt 4: Final / closing"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.customer_email }}",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_body }}",
        "options": {
          "replyTo": "={{ $('Parse Config').item.json.config.sender_email }}"
        }
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1760, 100],
      "notes": "Sends follow-up email via Gmail"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "attempt-0",
                    "leftValue": "={{ Number($json.follow_up_count) }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "attempt_1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "attempt-1",
                    "leftValue": "={{ Number($json.follow_up_count) }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "attempt_2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "attempt-2",
                    "leftValue": "={{ Number($json.follow_up_count) }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "attempt_3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "attempt-3",
                    "leftValue": "={{ Number($json.follow_up_count) }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "attempt_4"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "sms-template-selector",
      "name": "SMS Template Selector",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1320, 500],
      "notes": "Routes to appropriate SMS template based on follow_up_count (0-3)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sms_body",
              "name": "sms_body",
              "value": "=Hi {{ $json.customer_name }}, this is {{ $('Parse Config').item.json.config.sender_name }}. Just following up on the estimate I sent ({{ $json.quote_amount }}). Any questions? Reply STOP to opt out.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "sms-template-1",
      "name": "SMS Template 1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, 420],
      "notes": "Attempt 1: Friendly check-in with opt-out notice"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sms_body",
              "name": "sms_body",
              "value": "=Hi {{ $json.customer_name }}, checking in on your estimate. Happy to answer any questions or adjust if needed. - {{ $('Parse Config').item.json.config.sender_name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "sms-template-2",
      "name": "SMS Template 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, 540],
      "notes": "Attempt 2: Value reminder"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sms_body",
              "name": "sms_body",
              "value": "={{ $json.customer_name }}, just wanted to make sure your estimate doesn't slip away. Let me know if you'd like to move forward. - {{ $('Parse Config').item.json.config.sender_name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "sms-template-3",
      "name": "SMS Template 3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, 660],
      "notes": "Attempt 3: Urgency"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sms_body",
              "name": "sms_body",
              "value": "={{ $json.customer_name }}, closing the loop on your estimate. Reply anytime if you'd like to revisit. Thanks! - {{ $('Parse Config').item.json.config.sender_name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "sms-template-4",
      "name": "SMS Template 4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1540, 780],
      "notes": "Attempt 4: Final / closing"
    },
    {
      "parameters": {
        "from": "={{ $('Parse Config').item.json.config.twilio_phone_number }}",
        "to": "={{ $json.customer_phone }}",
        "message": "={{ $json.sms_body }}",
        "options": {}
      },
      "id": "send-sms",
      "name": "Send SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1760, 500],
      "notes": "Sends follow-up SMS via Twilio"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-channels",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [1980, 300],
      "notes": "Merges results from email and SMS sends for sheet update"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "new_count",
              "name": "new_follow_up_count",
              "value": "={{ Number($json.follow_up_count) + 1 }}",
              "type": "number"
            },
            {
              "id": "last_fu",
              "name": "new_last_follow_up",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "next_fu",
              "name": "new_next_follow_up",
              "value": "={{ $('Parse Config').item.json.config.mode === 'demo' ? (Number($json.follow_up_count) === 0 ? $now.plus({minutes: 5}).toISO() : (Number($json.follow_up_count) === 1 ? $now.plus({minutes: 10}).toISO() : (Number($json.follow_up_count) === 2 ? $now.plus({minutes: 15}).toISO() : $now.plus({minutes: 20}).toISO()))) : (Number($json.follow_up_count) === 0 ? $now.plus({days: 5}).toISO() : (Number($json.follow_up_count) === 1 ? $now.plus({days: 10}).toISO() : (Number($json.follow_up_count) === 2 ? $now.plus({days: 14}).toISO() : $now.plus({days: 30}).toISO()))) }}",
              "type": "string"
            },
            {
              "id": "new_status",
              "name": "new_status",
              "value": "={{ (Number($json.follow_up_count) + 1) >= Number($('Parse Config').item.json.config.max_attempts) ? 'lost' : 'active' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "calculate-next-followup",
      "name": "Calculate Next Follow-up",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2200, 300],
      "notes": "Calculates next follow-up timestamp based on mode (demo=minutes, production=days)"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Quote_Followups",
          "mode": "list",
          "cachedResultName": "Quote_Followups"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "follow_up_count": "={{ $json.new_follow_up_count }}",
            "last_follow_up": "={{ $json.new_last_follow_up }}",
            "next_follow_up": "={{ $json.new_next_follow_up }}",
            "status": "={{ $json.new_status }}"
          },
          "matchingColumns": ["quote_id"],
          "schema": [
            {
              "id": "quote_id",
              "displayName": "quote_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_count",
              "displayName": "follow_up_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_follow_up",
              "displayName": "last_follow_up",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_follow_up",
              "displayName": "next_follow_up",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "update-sheet",
      "name": "Update Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2420, 300],
      "notes": "Updates the quote record with new follow-up count, timestamps, and status"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config": {
      "main": [
        [
          {
            "node": "Parse Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Config": {
      "main": [
        [
          {
            "node": "Get Active Quotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Quotes": {
      "main": [
        [
          {
            "node": "Filter Due Quotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Due Quotes": {
      "main": [
        [
          {
            "node": "Route by Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Channel": {
      "main": [
        [
          {
            "node": "Email Template Selector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Template Selector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Template Selector",
            "type": "main",
            "index": 0
          },
          {
            "node": "SMS Template Selector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Template Selector": {
      "main": [
        [
          {
            "node": "Email Template 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Template 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Template 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Template 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Template 1": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Template 2": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Template 3": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Template 4": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Template Selector": {
      "main": [
        [
          {
            "node": "SMS Template 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Template 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Template 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Template 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Template 1": {
      "main": [
        [
          {
            "node": "Send SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Template 2": {
      "main": [
        [
          {
            "node": "Send SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Template 3": {
      "main": [
        [
          {
            "node": "Send SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Template 4": {
      "main": [
        [
          {
            "node": "Send SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Calculate Next Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Next Follow-up": {
      "main": [
        [
          {
            "node": "Update Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "main-followup-v2",
  "tags": []
}
