orig_workflows/main-followup-workflow-v3.json
{
  "name": "Dead Estimate Revival - Main Follow-up",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "282c9132-65e0-4660-a82c-fdd9d198b707",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1536,
        672
      ],
      "notes": "Runs every 1 minute for demo. Adjust interval for production (e.g., every 15 minutes or hourly)."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gYqE_iBiNdYKv2fkXqk2R_sYP9IPPFVxkgeGUVHbXZ0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 903922860,
          "mode": "list",
          "cachedResultName": "Config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gYqE_iBiNdYKv2fkXqk2R_sYP9IPPFVxkgeGUVHbXZ0/edit#gid=903922860"
        },
        "options": {}
      },
      "id": "9b45b85e-8223-4e28-aa44-abd5f0f3a4d1",
      "name": "Get Config",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1312,
        672
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eSVWb3iQZSdmZ98G",
          "name": "Google Sheets account JKWebPro"
        }
      },
      "notes": "Reads configuration variables from Config sheet. Returns key-value pairs."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "config-obj",
              "name": "config",
              "value": "={{ Object.fromEntries($input.all().map(item => [item.json.key, item.json.value])) }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "428643ed-f7bb-4f74-9393-64d23c24236a",
      "name": "Parse Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1088,
        672
      ],
      "notes": "Converts config rows into a single object for easy access: config.mode, config.max_attempts, etc."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gYqE_iBiNdYKv2fkXqk2R_sYP9IPPFVxkgeGUVHbXZ0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 627713887,
          "mode": "list",
          "cachedResultName": "Quote_Followups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gYqE_iBiNdYKv2fkXqk2R_sYP9IPPFVxkgeGUVHbXZ0/edit#gid=627713887"
        },
        "options": {}
      },
      "id": "442eb079-9d84-4d48-ab42-e810d7de0081",
      "name": "Get Active Quotes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -640,
        672
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eSVWb3iQZSdmZ98G",
          "name": "Google Sheets account JKWebPro"
        }
      },
      "notes": "Fetches all quotes from Quote_Followups sheet"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-attempts",
              "leftValue": "={{ $json.next_follow_up }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "adfaee17-109c-4e02-a139-0bbb7f094406",
              "leftValue": "={{ $json.next_follow_up }}",
              "rightValue": "={{ $now.toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "id": "a3c3eafb-bc3a-4c21-8c6c-b3865648eda5",
              "leftValue": "={{ Number($json.follow_up_count) || 0 }}",
              "rightValue": "={{ Number($('Parse Config').item.json.config.max_attempts) }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "4a550ede-c887-4534-b39d-f49a7aac4053",
      "name": "Filter Due Quotes",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -192,
        672
      ],
      "notes": "Only process quotes where next_follow_up <= NOW AND follow_up_count < max_attempts"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "is-email",
                    "leftValue": "={{ $json.preferred_channel }}",
                    "rightValue": "email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "is-sms",
                    "leftValue": "={{ $json.preferred_channel }}",
                    "rightValue": "sms",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sms"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "is-both",
                    "leftValue": "={{ $json.preferred_channel }}",
                    "rightValue": "both",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "both"
            }
          ]
        },
        "options": {}
      },
      "id": "daefea19-12f3-4a52-9da2-c5d67b1266e2",
      "name": "Route by Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        32,
        656
      ],
      "notes": "Routes to email-only, sms-only, or both branches based on preferred_channel"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "attempt-0",
                    "leftValue": "={{ Number($json.follow_up_count) }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "attempt_1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "attempt-1",
                    "leftValue": "={{ Number($json.follow_up_count) }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "attempt_2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "attempt-2",
                    "leftValue": "={{ Number($json.follow_up_count) }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "attempt_3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "attempt-3",
                    "leftValue": "={{ Number($json.follow_up_count) }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "attempt_4"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "ba9f2619-2205-44c6-bf8c-b0b258c0ece5",
      "name": "Email Template Selector",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        256,
        400
      ],
      "notes": "Routes to appropriate email template based on follow_up_count (0-3)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "subject",
              "name": "email_subject",
              "value": "Quick follow-up on your estimate",
              "type": "string"
            },
            {
              "id": "body",
              "name": "email_body",
              "value": "=Hi {{ $json.customer_name }},<br><br>I wanted to check in on the estimate I sent over on {{ $json.quote_date }} for {{ $json.quote_amount }}.<br><br>Do you have any questions, or is there anything I can clarify?<br><br>Happy to jump on a quick call if that's easier.<br><br>Best,<br>{{ $('Parse Config').item.json.config.sender_name }}<br>{{ $('Parse Config').item.json.config.sender_phone }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "bac77e24-5b22-42f4-a764-9346eb1e6191",
      "name": "Email Template 1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        144
      ],
      "notes": "Attempt 1: Friendly check-in"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "subject",
              "name": "email_subject",
              "value": "Still thinking it over?",
              "type": "string"
            },
            {
              "id": "body",
              "name": "email_body",
              "value": "=Hi {{ $json.customer_name }},<br><br>Just circling back on your estimate ({{ $json.quote_amount }}).<br><br>A few clients in similar situations found it helpful to lock in pricing before our next adjustment.<br><br>Let me know if you'd like to move forward or if anything's holding you back.<br><br>Best,<br>{{ $('Parse Config').item.json.config.sender_name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "7a72d63a-9d40-4263-b133-2d1b4cf9f6b6",
      "name": "Email Template 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        336
      ],
      "notes": "Attempt 2: Value reminder"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "subject",
              "name": "email_subject",
              "value": "Before this slips away",
              "type": "string"
            },
            {
              "id": "body",
              "name": "email_body",
              "value": "=Hi {{ $json.customer_name }},<br><br>I know things get busy - just wanted to make sure your estimate doesn't fall through the cracks.<br><br>If timing or budget is a concern, I'm happy to discuss options.<br><br>Worth a quick conversation?<br><br>Best,<br>{{ $('Parse Config').item.json.config.sender_name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "19598427-5a77-47ea-88f1-7000b1b7084a",
      "name": "Email Template 3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        528
      ],
      "notes": "Attempt 3: Urgency"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "subject",
              "name": "email_subject",
              "value": "Closing the loop",
              "type": "string"
            },
            {
              "id": "body",
              "name": "email_body",
              "value": "=Hi {{ $json.customer_name }},<br><br>I haven't heard back, so I'll assume the timing isn't right.<br><br>No hard feelings - I'll close this out on my end. If anything changes, just reply to this email and we can pick back up.<br><br>Thanks for considering us.<br><br>Best,<br>{{ $('Parse Config').item.json.config.sender_name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "8203af57-33da-4838-bd71-36588bb9e5a2",
      "name": "Email Template 4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        720
      ],
      "notes": "Attempt 4: Final / closing"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.customer_email }}",
        "subject": "={{ $json.email_subject }}",
        "message": "={{ $json.email_body }}",
        "options": {
          "appendAttributionToBody": false,
          "replyTo": "={{ $('Parse Config').item.json.config.sender_email }}"
        }
      },
      "id": "52df825a-89ae-4e90-b20b-6c93537d6e24",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        704,
        432
      ],
      "webhookId": "bca334b3-e0b2-4ebd-bc0c-f6970bf1cf9f",
      "credentials": {
        "gmailOAuth2": {
          "id": "diO2W3nFj4RnQpU9",
          "name": "Gmail account"
        }
      },
      "notes": "Sends follow-up email via Gmail"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "attempt-0",
                    "leftValue": "={{ Number($json.follow_up_count) }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "attempt_1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "attempt-1",
                    "leftValue": "={{ Number($json.follow_up_count) }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "attempt_2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "attempt-2",
                    "leftValue": "={{ Number($json.follow_up_count) }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "attempt_3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "attempt-3",
                    "leftValue": "={{ Number($json.follow_up_count) }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "attempt_4"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "c8d7e5f1-3b2a-4d9c-8e6f-1a2b3c4d5e6f",
      "name": "SMS Template Selector",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        256,
        1056
      ],
      "notes": "Routes to appropriate SMS template based on follow_up_count (0-3)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sms_body",
              "name": "sms_body",
              "value": "=Hi {{ $json.customer_name }}, this is {{ $('Parse Config').item.json.config.sender_name }}. Just following up on the estimate I sent ({{ $json.quote_amount }}). Any questions? Reply STOP to opt out.",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "SMS Template 1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        800
      ],
      "notes": "Attempt 1: Friendly check-in with opt-out notice"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sms_body",
              "name": "sms_body",
              "value": "=Hi {{ $json.customer_name }}, checking in on your estimate. Happy to answer any questions or adjust if needed. - {{ $('Parse Config').item.json.config.sender_name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
      "name": "SMS Template 2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        992
      ],
      "notes": "Attempt 2: Value reminder"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sms_body",
              "name": "sms_body",
              "value": "={{ $json.customer_name }}, just wanted to make sure your estimate doesn't slip away. Let me know if you'd like to move forward. - {{ $('Parse Config').item.json.config.sender_name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
      "name": "SMS Template 3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        1184
      ],
      "notes": "Attempt 3: Urgency"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sms_body",
              "name": "sms_body",
              "value": "={{ $json.customer_name }}, closing the loop on your estimate. Reply anytime if you'd like to revisit. Thanks! - {{ $('Parse Config').item.json.config.sender_name }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "d4e5f6a7-b8c9-0123-def0-456789012345",
      "name": "SMS Template 4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        1376
      ],
      "notes": "Attempt 4: Final / closing"
    },
    {
      "parameters": {
        "from": "={{ $('Parse Config').item.json.config.twilio_phone_number }}",
        "to": "={{ $json.customer_phone }}",
        "message": "={{ $json.sms_body }}",
        "options": {}
      },
      "id": "3111b2a8-75d8-4746-adfa-1d8aea7c2176",
      "name": "Send SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        704,
        1088
      ],
      "credentials": {
        "twilioApi": {
          "id": "1k3iwzhM63yBs3MH",
          "name": "Twilio account JK WebPro"
        }
      },
      "notes": "Sends follow-up SMS via Twilio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "new_count",
              "name": "new_follow_up_count",
              "value": "={{ Number($('Filter Valid Quotes').item.json.follow_up_count) + 1 }}",
              "type": "number"
            },
            {
              "id": "last_fu",
              "name": "new_last_follow_up",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "next_fu",
              "name": "new_next_follow_up",
              "value": "={{ (() => { const config = $('Parse Config').item.json.config; const count = Number($('Filter Valid Quotes').item.json.follow_up_count); const isDemo = config.mode === 'demo'; const interval = isDemo ? (count === 0 ? config.demo_interval_1 : (count === 1 ? config.demo_interval_2 : (count === 2 ? config.demo_interval_3 : config.demo_interval_4))) : (count === 0 ? config.prod_interval_1 : (count === 1 ? config.prod_interval_2 : (count === 2 ? config.prod_interval_3 : config.prod_interval_4))); const unit = isDemo ? config.demo_unit : config.prod_unit; return $now.plus({ [unit]: Number(interval) }).toISO(); })() }}",
              "type": "string"
            },
            {
              "id": "new_status",
              "name": "new_status",
              "value": "={{ (Number($('Filter Valid Quotes').item.json.follow_up_count) + 1) >= Number($('Parse Config').item.json.config.max_attempts) ? 'lost' : 'active' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "3c349380-e800-41ca-b234-76f052f38126",
      "name": "Calculate Next Follow-up",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        672
      ],
      "notes": "Calculates next follow-up timestamp based on mode (demo/production) using intervals from Config sheet"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1gYqE_iBiNdYKv2fkXqk2R_sYP9IPPFVxkgeGUVHbXZ0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 627713887,
          "mode": "list",
          "cachedResultName": "Quote_Followups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gYqE_iBiNdYKv2fkXqk2R_sYP9IPPFVxkgeGUVHbXZ0/edit#gid=627713887"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "quote_id": "={{ $('Filter Valid Quotes').item.json.quote_id }}",
            "follow_up_count": "={{ $json.new_follow_up_count }}",
            "last_follow_up": "={{ $json.new_last_follow_up }}",
            "next_follow_up": "={{ $json.new_next_follow_up }}",
            "status": "={{ $json.new_status }}"
          },
          "matchingColumns": [
            "quote_id"
          ],
          "schema": [
            {
              "id": "quote_id",
              "displayName": "quote_id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_count",
              "displayName": "follow_up_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_follow_up",
              "displayName": "last_follow_up",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_follow_up",
              "displayName": "next_follow_up",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "bb39028e-8eaf-4084-b8a5-7c628bb2acd9",
      "name": "Update Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1152,
        672
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eSVWb3iQZSdmZ98G",
          "name": "Google Sheets account JKWebPro"
        }
      },
      "notes": "Updates the quote record with new follow-up count, timestamps, and status"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4de59647-f790-4f81-a9f1-f7439c8ebdd5",
              "leftValue": "={{ $json.quote_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "05c4ff4c-c640-4245-b196-34af7d66f233",
              "leftValue": "={{ $json.customer_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "10e9bded-7ea7-47b0-9f49-60631dcc16ef",
              "leftValue": "={{ $json.customer_email }}",
              "rightValue": "@",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "9f03ca3d-e051-492e-b57b-be780a201e14",
              "leftValue": "={{ $json.status }}",
              "rightValue": "active",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "37aef5e3-6a38-465a-a068-a9fc4a9b6c34",
              "leftValue": "={{ $json.opted_out }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -416,
        672
      ],
      "id": "85e3d689-f022-4042-b4b9-7aee842dff57",
      "name": "Filter Valid Quotes"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -864,
        672
      ],
      "id": "6ec69e15-afe9-4d01-b00d-1d6ab7ac4f1a",
      "name": "Single Config Item"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config": {
      "main": [
        [
          {
            "node": "Parse Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Config": {
      "main": [
        [
          {
            "node": "Single Config Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Single Config Item": {
      "main": [
        [
          {
            "node": "Get Active Quotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Quotes": {
      "main": [
        [
          {
            "node": "Filter Valid Quotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Quotes": {
      "main": [
        [
          {
            "node": "Filter Due Quotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Due Quotes": {
      "main": [
        [
          {
            "node": "Route by Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Channel": {
      "main": [
        [
          {
            "node": "Email Template Selector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Template Selector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Template Selector",
            "type": "main",
            "index": 0
          },
          {
            "node": "SMS Template Selector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Template Selector": {
      "main": [
        [
          {
            "node": "Email Template 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Template 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Template 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Template 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Template 1": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Template 2": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Template 3": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Template 4": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Calculate Next Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Template Selector": {
      "main": [
        [
          {
            "node": "SMS Template 1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Template 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Template 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Template 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Template 1": {
      "main": [
        [
          {
            "node": "Send SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Template 2": {
      "main": [
        [
          {
            "node": "Send SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Template 3": {
      "main": [
        [
          {
            "node": "Send SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Template 4": {
      "main": [
        [
          {
            "node": "Send SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS": {
      "main": [
        [
          {
            "node": "Calculate Next Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Next Follow-up": {
      "main": [
        [
          {
            "node": "Update Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "updated-with-config-intervals",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7d06ee333cd72d30aefc89f2565a726e1ce3d1f9e9660ca12dddbdf7f81338da"
  },
  "id": "nu6KcWbL1BLhKNhu",
  "tags": []
}
